/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}

div#profile-info {
    display: flex;
    column-gap: 16px;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
}

p[data-testid="slackUserName"] {
    font-size: 40px;
    font-weight: 700;
}
img[data-testid="slackDisplayImage"] {
    width: 120px;
    height: 120px;
    border-radius: 99%;
    object-fit: cover;
    object-position: top;
}

p#currentUTCTime, p#currentDayOfTheWeek {
    font-size: 20px;
    font-weight: 500;
}

p#track {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}